/* reset css */
* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

body,
html{
    height: 100%;
}

body {
    font-size: 14px;
    line-height:1;
}

h1 {
    font-size: 50px;
}

/* common classes*/

.center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* layout style */
.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.banner {
    height: 100vh;
    left: 0;
    right: 0;
    top:0;
    position: relative;
    overflow: hidden;
}

.banner img {
    max-height: 100%;
}

.banner h1 {
    color: #fff;
    width: max-content;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 6em;
    text-transform: uppercase;
    margin-top: 100%;
    transition: margin-top 1.5s ease-in-out;
}

.banner .content {
    font-size: 14px;
    margin: 0px auto;
    padding: 20px;
    color: #fff;
    opacity: 0;
    margin-top: 90px;
    text-align: center;
}

.banner .link {
    background: #405c6a; color:#fff;padding: 12px 17px;
    font-size: 14px; border:0px; text-decoration: none;
    display: inline-block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-top: 20px;
}

/* currently visible banner */

.active h1 {
    margin-top: 0;
    transition-delay: 1s;
    transition: margin-top 2s ease-in-out;
    transition-delay: 1s;
}
.active .content {
    animation: bannerContent 9s  ease-in-out;
}
.active {
    z-index: 1;
}
.banner {
    animation-delay: 0.5s;
    animation-name: banner;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}

.b1 {
    transform: translate(100%);
}

  /* animation for title in slide */

  @keyframes bannerTitle {
    0% { margin-top: 100%; }
    30% { margin-top: 0px; }
    70% { margin-top: 0px; }
    100% { margin-top: 100%; }
  }
/* animation to move banner up*/

  @keyframes banner {
    0% { transform: translateY(60%);}
    10% { transform: translateY(0);}
    33.33% { transform: translateY(0);}
    43.33% { transform: translateY(-100%);}
    66.33% { transform: translateY(-100%);}
    76.33% { transform: translateY(-200%);}
    100% { transform: translateY(-200%);}
  }

/* animation banner content */

  @keyframes bannerContent {
    0% { opacity: 0; }
    20% { opacity: 0; }
    40% { opacity: 0.8; }
    80% { opacity: 0; }
    100% { opacity: 0; }
  }